<div class="wrapper">
    <div class="sidebar">
        <h2>IceMan</h2>
        <ul>
            <li><a href="/usuarios"><i class="fas fa-home"></i>Menu</a></li>
            <li><a href="/productos"><i class="fas fa-user"></i>Pedido</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Panel de usuario</div>
        <div class="info">
            
        </div>
    </div>
</div>