{{> Navbar}}
<div class="container">
    <form action="#" method="POST">
        <div class="form-group">
            <label>Correo: </label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-control">
            <label>Contraseña: </label>
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit">
                    Ingresar
                </button>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-secondary">Registrar</a>
            </div>
        </div>
    </form>
</div>