{{> Navbar}}
<div class="container">
    <form action="#" method="POST">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" name="nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            <input type="text" name="apellido" class="form-control" />
        </div>
        <div class="form-group">
            <label>Correo: </label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-control">
            <label>Contraseña: </label>
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="form-control">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
    </form>
</div>